.contact {
  height: 1026px;
  margin-top:80px;
  position:relative;
  &:after {
    content: "";
    display: block;
    position:absolute;
    top:0;
    left:0;
    background-image:url("../assets/Background-Contact-Form.jpg");
    width: 100%;
    height: 100%;
    opacity:0.3;
    z-index:-1;
  }

  &__wrapper {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__content {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:200px;
    width: 528px;

    h1 {
      margin-bottom:25px;
      font-size:38px;
      font-weight: 400;
    }
    .notification {
      margin-top:13px;
      font-weight: 600;
      height: 70px;
      width: 100%;
      text-align: center;
      span {
        display: block;
      }
      .success {
        color: #05cb05;
      }
      .error {
        color:red;
      }
    }

    form {
      display:flex;
      flex-direction: column;
      width: 100%;

      button {
        cursor:pointer;
        margin-top:25px;
        align-self: flex-end;
        background:none;
        font-family: inherit;
        font-size:18px;
        padding: 13px 52px;
        outline:none;
        border:0.75px solid $primaryTextColor;
      }
    }

    .formFirstRow {
      display:flex;
      margin-bottom:25px;
      .formField {
        width: 50%;
        &:first-child {
          margin-right: 16px;
        }
      }
    }
    .formField {
      display:flex;
      flex-direction: column;

      label {
        font-size:16px;
        font-weight: 600;
        margin-bottom:12px;
      }
      span {
        color:red;
        font-size:11px;
        margin-top:5px;
        font-weight: 700;
      }


      input,textarea {
        outline:none;
        border:none;
        background:none;
        line-height: 24px;
        font-size:18px;
        color:$primaryTextColor;
        border-bottom: 1px solid $primaryTextColor;
        &::placeholder {
          font-size:18px;
          color:#3C3C3C26;
        }
      }
      textarea {
        font-size:18px;
        font-family: inherit;
        resize:none;
        height: 97px;
        &::placeholder {
          font-size:17px;
        }
      }
    }
  }

  .footer {
    display: grid;
    margin-top:245px;
    grid-template-columns: 80px 1fr 80px;
    align-items: center;
    width: 100%;
    &__copyright {
      grid-column: 2/3;
      justify-self: center;
    }
    &__icons {
      display:flex;
      align-items: center;
      img:first-child {
        margin-right: 20px;
      }
    }
  }
}